.App {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color: darkblue;
}

.container_section {
    display: flex;
    justify-content: space-around;
    background: #e2e1e0;
}